{% extends "base.html" %}

{% block content %}
    <div class="jumbotron">
        <div class="container">
            <h1>Code Golf</h1>
            <p>Code golf is a type of recreational computer programming competition in which participants strive to achieve the shortest possible code that implements a certain algorithm.</p>
        </div>
    </div>

    <div class="container">

        <div class="row">
            <div class="col-md-4">
                <h2>Intel x86 Assembly Compass</h2>
                <p><span class="label label-primary">asm</span> <span class="label label-warning">minimize-binary</span></p>
                <p><strong>Task:</strong> Generate an ASCII compass pointing into one of eight possible directions.</p>
                <p><strong>Goal:</strong> Minimize the size of the resulting binary.</p>
                <p><a class="btn btn-default" href="/challenges/asm-compass/" role="button">View details &raquo;</a></p>
            </div>
            <!--        <div class="col-md-4">
                <h2>Heading</h2>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Heading</h2>
                <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
                <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
            </div>
            -->
        </div>

    </div>
{% endblock %}
